<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726409201678-pgc4fhurlfqr12sgcrk9ei15da8j4kej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726409201678-pgc4fhurlfqr12sgcrk9ei15da8j4kej</string>
	<key>API_KEY</key>
	<string>AIzaSyCSVBkn01Yp2TJ_wfUfUv9P13guAYHl3AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>726409201678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>duke.subtle</string>
	<key>PROJECT_ID</key>
	<string>subtle-eff3f</string>
	<key>STORAGE_BUCKET</key>
	<string>subtle-eff3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726409201678:ios:ef2746105c927967f5945f</string>
</dict>
</plist>